footer {
    height: 25%;
    width: 100%;
    margin-top: 90px;
    background-color: #03b9a477;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.end-logo {
    position: relative;
    top: 80px;
}
.link-block { 
    position: relative;
    right: 50px;
    padding-left: 30px;
    border-left: 3px solid #8ac2bb;
}
.end-links {
    list-style-type: none;
}
.nav-appearance {
    text-decoration-line:none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 35px;
    font-size: 18px;
    color: #ffffff;
}
.form {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    justify-items: center;
}
.label {
    max-width: 400px;
    width: 100%;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    color: #FEFFFF;
}
.input-area {
    min-height: 37px;
	border: 1;
    border-color: #008676;
    background-color: #8ac2bb;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.1em;
    cursor: text;
}
.signup-now-btn {
    padding: 16px;
    max-width: 150px;
    min-height: 10px;
    width: 100%;
    background-color: #03b9a477;
    border: none;
    border-radius: 6px;
    color: #a2e0d9;   
    box-shadow: inset 0 1px 3px #000000; 
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup-now-btn:hover {
    background-color: #03d5bd;
}
.signup-now-btn:disabled {
    cursor: not-allowed;
}