* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
body {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    background-image: linear-gradient(#03d5bd,#00867777,#00867777);
} 

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
}
.container {
    display: flex;
    justify-content: space-around;
}

.right-side {
    width:40%;
    height:80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #f8f0f194;
    color: black;
    border-radius: 10px;
    padding: 30px;
    margin-top: 100px;
}
.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 400px;
    margin-top: 160px;
}
h1 {
    text-align: center;  
}
.contactus-title {
    color: #06312C;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 44px;
    text-decoration: none;
}
.contactus-title:hover {
    color: #ea526f;
    cursor: pointer;
}
.left-side h2 {
    color: #06312C;
    text-transform: capitalize;
    font-size: 25px;
}
.left-side p {
    
}
i {
    color: #ea526f;
}
.form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 65px;
    padding-top: 68px;
    padding-bottom: 64px;
}
.form__text {
    font-size: 18px;
    line-height: 21px;
    line-height: 100%;
    color: #ea526f; 
    text-transform: capitalize;
}
form {
    width: 663px;
}
form>div {
    display: contents;
    height: 72px;
    width: 70%;
}
input, select , textarea {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #9DBEBB;
    width: 70%;
}
textarea {
    height: 72px;
}
.submit {
    border-radius: 40px;
    border-bottom: none;
    width: 202px;
    height: 48px;
    margin-left: 100px;
}
