* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    margin: auto;
    background-image: linear-gradient(#03d5bd,rgb(53, 182, 167),rgb(184, 223, 217));      
}
.logo {
    position: absolute;
    top: 30px;
    left: 30px;
}
.container {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}

.right-side {
    width:40%;
    height:90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #43473b;
    color: white;
    border-radius: 10px;
    padding: 30px;
}
.left-side {
    width: 40%;
    height: 80%;

}
h1 {
    color: white;
    text-transform: capitalize;
}
h1:hover {
    color: #43473b;
    border-radius: 20px;
    cursor: pointer;
}
.container-text {
    border-radius: 10px;
    text-transform: capitalize;
}
i {
    color: aqua;
}

.form {
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
}
