h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 44px;
    color: #06312cd8;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 38px;
    color: #06312cd8;
}
h3, .about-nav {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #06312cd8;
}
.main-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px; 
    color: #06312cd8;
    line-height: 1.7;
}
.end-links, .nav {
    list-style-type: none;
    
}
.nav-appearance, a {
    text-decoration-line:none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 35px;
    font-size: 18px;
    color: #06312cd8;
    &:hover {
        color: #ea526f;
    }
}
.label {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    color: #06312cd8;
}
.input-area {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.1em;
}
.signup-now-btn {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.05em;
    color: #06312cd8; 
}