* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #000000;
}

body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#03d5bd), color-stop(#00867777), to(#00867777));
  background-image: linear-gradient(#03d5bd, #00867777, #00867777);
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.right-side {
  width: 40%;
  height: 70vh;
  background-color: rgba(238, 185, 185, 0.2);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-top: 100px;
}

.left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 500px;
  height: 400px;
  margin-top: 160px;
}

h1 {
  text-align: center;
}

.contactus-title {
  color: #ea526f;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 44px;
  text-decoration: none;
}

.contactus-title:hover {
  color: #06312C;
  cursor: pointer;
}

.left-side h2 {
  color: #06312C;
  text-transform: capitalize;
  font-size: 25px;
}

i {
  color: #ea526f;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}
.form input, .form textarea, .form select {
  width: 90%;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1px solid #06312C;
  background: none;
}
.form input[type=submit] {
  width: 90%;
  max-width: 160px;
  margin-top: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ea526f), color-stop(#6bafa7), to(#a04858));
  background-image: linear-gradient(#ea526f, #6bafa7, #a04858);
  color: #111111;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  height: 48px;
}

.right-side__title {
  color: #06312C;
  text-transform: capitalize;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}

.contact-info {
  margin-left: 60px;
  margin-top: 20px;
}