* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000000;
}
body {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: auto;
    background-image: linear-gradient(#03d5bd,#00867777,#00867777);
} 

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
}
.container {
    display: flex;
    justify-content: space-around;
}

.right-side {
    width:40%;
    height:70vh;
    background-color: rgba(238, 185, 185, 0.2);
    box-shadow: 0 5px 15px rgb(0,0,0,.5);
    border-radius: 10px;
    margin-top: 100px;
}
.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    height: 400px;
    margin-top: 160px;
}
h1 {
    text-align: center;  
}
.contactus-title {
    color: #ea526f;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 44px;
    text-decoration: none;
}
.contactus-title:hover {
    color: #06312C;
    cursor: pointer;
}
.left-side h2 {
    color: #06312C;
    text-transform: capitalize;
    font-size: 25px;
}

i {
    color: #ea526f;
}
.form {
    display:flex;
    flex-direction: column;
    padding: 30px; 

        input,textarea,select {
            width: 90%;
            outline: none;
            resize: none;
            border: none;
            border-bottom: 1px solid #06312C;
            background: none;
        }
        input[type="submit"] {
            width: 90%;
            max-width: 160px;
            margin-top: 10px;
            border-radius: 10px;
            background-image: linear-gradient(#ea526f,#6bafa7,#a04858);
            color: #111111;
            border: none;
            cursor: pointer;
            text-transform: capitalize;
            height: 48px;
        }
}
.right-side__title {
    color: #06312C;
    text-transform: capitalize;
    font-size: 30px;
    margin-top: 20px; 
    text-align: center; 
}
.contact-info {
    margin-left: 60px;
    margin-top: 20px; 
}

 

