* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #000000;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#03d5bd), color-stop(#00867777), to(#00867777));
  background-image: linear-gradient(#03d5bd, #00867777, #00867777);
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.right-side {
  width: 40%;
  height: 80vh;
  background-color: rgba(238, 185, 185, 0.2);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-top: 100px;
}

.left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 500px;
  height: 400px;
  margin-top: 160px;
}

h1 {
  text-align: center;
}

.contactus-title {
  color: #ea526f;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 44px;
  text-decoration: none;
}

.contactus-title:hover {
  color: #06312C;
  cursor: pointer;
}

.left-side h2 {
  color: #06312C;
  text-transform: capitalize;
  font-size: 25px;
}

i {
  color: #ea526f;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 65px;
  padding-top: 68px;
  padding-bottom: 64px;
}

.right-side__title {
  color: #06312C;
  text-transform: capitalize;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}

.contact-info {
  margin-left: 60px;
  margin-top: 20px;
}

.form__text {
  font-size: 16px;
  line-height: 21px;
  line-height: 100%;
  color: #ea526f;
  text-transform: capitalize;
}

form {
  width: 700px;
}

form > div {
  display: contents;
}

input, select, textarea {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #06312C;
  width: 70%;
}

.submit {
  border-radius: 40px;
  background-color: #ea526f;
  color: #ffff;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  width: 200px;
  height: 48px;
  margin-left: 100px;
  margin-top: 40px;
}

.submit:hover {
  background-color: #773340;
}