@import 'header';
@import 'footer';
@import 'fonts';

body {
   font-family: 'Poppins', sans-serif;
   background-image: linear-gradient(#03d5bd,#00867777,#00867777);
}

main {
   min-height: 90vh;
   justify-content: center;
}

.main__info {
   justify-content: center;
   padding-top: 20px;
   font-size: 15px;
}

.main__heading {
   text-align: center;
}

.container {
   display: flex;
   float: row;
   justify-content: center;
   padding: 40px 20px; 
}

.card {
   max-width: 330px;
   min-height: 600px;
   background-color: rgb(221, 224, 231);
   border: 1px solid #2196f3;
   box-shadow: 10px 10px 8px #696868; 
   border-radius: 10px;
   margin: 20px;
   padding: 10px;
   display: flex;
   position: relative;
}

.card__title {
   margin-bottom: 5px;
   justify-content: center;
}

.card__img {
   width: 250px;
   height: 280px;
   margin-bottom: 10px;
   overflow: hidden;
}

.img_effect {
   margin-left: 45px;
   width: 100%;
   height: 100%;
   object-fit: cover;
   animation: imgZoom 7.5s ease infinite;
   animation-direction: reverse;
   animation-fill-mode: none;
   
}

img:hover {
   animation-play-state: paused;
}

/* @keyframes imgZoom {
  from {transform: scale(1) rotate(0deg);}
  to {transform: scale(1.1) rotate(10deg);}
} */

@keyframes imgZoom {
  0% {transform: scale(1) rotate(0deg);}
  50% {transform: scale(1.1) rotate(5deg);}
  100% {transform: scale(1) rotate(0deg);}
}