body {
   font-family: 'Poppins', sans-serif;
}
main {
   min-height: 90vh;
   background:  #00867777;
   background: linear-gradient(230deg, rgb(36, 8, 0) 0%, rgb(222, 237, 247) 35%, rgb(123, 232, 253) 100%);
}

.main__heading, .main__info, .main__tagline {
   text-align: center;
   padding-top: 20px;
   color: white;
}

.main__heading {
   color: white;
   font-size: 30px;
   font-weight: bold;
}

.main__info, .main__tagline {
   font-size: 15px;
}

.container {
   display: flex;
   float: row;
   justify-content: center;
   align-items: center;
   padding: 40px 20px; 
}

.card {
   max-width: 260px;
   min-height: 525px;
   background-color: rgb(204, 211, 226);
   border: 1px solid #2196f3;
   border-radius: 10px;
   margin: 20px;
   padding: 10px;
   display: flex;
   position: relative;
}

.card__title {
   font-weight: bold;
   margin-bottom: 5px;
}

.card__img {
   width: 220px;
   height: 280px;
   margin-bottom: 10px;
   overflow: hidden;
}

.img_effect {
   width: 100%;
   height: 100%;
   object-fit: cover;
   animation: imgZoom 2.5s ease infinite;
   animation-direction: reverse;
   animation-fill-mode: none;
   
}

img:hover {
   animation-play-state: paused;
}

/* @keyframes imgZoom {
  from {transform: scale(1) rotate(0deg);}
  to {transform: scale(1.1) rotate(15deg);}
} */

@keyframes imgZoom {
  0% {transform: scale(1) rotate(0deg);}
  50% {transform: scale(1.1) rotate(30deg);}
  100% {transform: scale(1) rotate(0deg);}
}

.btn {
   position: absolute;
   justify-content: center;
   bottom: 10px;
   width: 90%;
   height: 40px;
   border: none;
   background-color: rgb(235, 134, 2);
   font-weight: bold;
}

.btn:hover {
   background-color: rgb(2, 151, 64);
   transition: all 0.5s ease-in-out;
   transition-delay: 0.9s;
}
