@import 'header';
@import 'footer';
@import 'fonts';

/*
body {
   font-family: 'Poppins', sans-serif;
}

/* Settings of header*/
/*
header {
   height: 12vh;
   border-bottom: 1px solid #2196f3;
   background-color:  #00867777;
   margin: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav {
   min-width: 690px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.nav__list {
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: row;
   margin-left: 10px;
}

.nav__link {
   color: rgb(245, 243, 240);
   text-decoration: none;
   font-size: 19px;
}

.nav__link:hover {
   color: rgb(0, 195, 255);
}


.btn_top_design1 {
   max-width: 234px;
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.nav>li {
   margin-left: 38px;
   position: relative;
   right: 39px;
}

/* Settings of Header Buttons

.btn_top_design1 {
   max-width: 234px;
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.btn_top_design2 {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 4px;
   font-family: 'Poppins', sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
}

.btn_signin {   
   position: relative;
   right: 10px;
   padding: 14px;
   max-width: 110px;
   max-height: 46px;
   width: 100%;
   background-color: #ffffff;
   border-radius: 4px;
   border: 1;
   border-color: #BCD0E5;
   color: #173A56;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.btn_signup {
   position: relative; 
   padding: 14px;
   max-width: 102px;
   max-height: 46px;
   width: 100%;
   font-weight: bolder;
   background-color: #f3db08;
   border: none;
   color: #FFFFFF;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/* Settings of Logo

.top {
   position: sticky; 
   top: 22px;
   left: 143.92px;
}

.end-logo {
   position: relative;
   top: 80px;
}

.logo {
   margin-left: 30px;
   font-size: 40px;
   font-family: 'Poppins', sans-serif;
   color:  #008676;
}

*/

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
 body {
   line-height: 1.6;
   background-image: linear-gradient(#03d5bd,#00867777,#00867777);
 }
 
 h1,
 h2,
 h3 {
   line-height: 1.3;
 }
 
 a {
   color: black;
   text-decoration: none;
 }
 
 ul {
   list-style: none;
 }
 
 /* NAVBAR */
 
 /*
 .navbar {
   font-size: 16px;
   padding-top: 30px;
   padding-bottom: 30px;
  
 }
 
 .navbar img {
   height: 50px;
 }
 .navbar .container {
   display: grid;
   width: 1100px;
   grid-template-columns: repeat(2, 1fr);
   margin: auto;
 }
 
 .navbar .nav {
   justify-self: flex-end;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .navbar .nav a {
   padding-left: 20px;
   padding-right: 20px;
 }
 
 .navbar .nav a:hover {
   color: yellow;
 }
 
 #chips-logo {
   size: 10px;
 }
 
 */
 /* HEADER */
 
 .hero {
   position: relative;
   width: 100vw;
   height: 60vh;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-attachment: fixed;
   background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
     url(/images/chips-header.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
 }
 
 .hero-title {
   color: white;
   font-size: 70px;
   font-weight: bold;
   padding-bottom: 20px;
 }
 
 .hero-text {
   color: white;
   text-decoration: none;
   font-size: 28px;
   margin-bottom: 40px;
 }
 
 .btn {
   display: inline-block;
   background-color: black;
   color: white;
   padding: 10px 20px;
   border: none;
   cursor: pointer;
   font-size: 18px;
   border-radius: 10px;
   font-weight: bold;
 }
 .btn:hover {
   color: yellow;
   box-shadow: 10px black;
 }
 
 /* FONTAWSOME SECTION */
 
 .info {
   height: 400px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .info .info-container {
   width: 1000px;
   display: flex;
   justify-content: space-between;
 }
 
 .column {
   padding: 20px;
   margin: 30px;
   text-align: center;
   border-bottom: 1px solid black;
   border-top: 1px solid black;
 }
 
 .info-title {
   padding-bottom: 20px;
 }
 
 /* ABOUT SECTION */
 
 .section-about {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 1000px;
   margin: auto;
   padding: 40px;
 }
 .section-about .section-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 3rem;
   align-items: center;
   justify-content: center;
 }
 
 .about-image {
   border-radius: 50%;
 }
 
 .about-title-2 {
   font-size: 28px;
   margin-bottom: 30px;
 }
 
 .section-text {
   padding: 20px;
 }
 

/* Settings of footer*/

/*footer {
    height: 25%;
    width: 100%;
    margin-top: 90px;
    background-color: #00867777;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
 }

 .space {
    border-left: 1px;
    border-color: darkgrey;
    background-color: darkmagenta;
 }
 .link-block {
    position: relative;
    right: 50px;
    padding-left: 30px;
    border-left: 3px solid #03d5bd;;
 }
 .end-links {
    list-style-type: none;
 }
 .nav-appearance {
    text-decoration-line:none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 35px;
    font-size: 18px;
    color: #ffffff;
 }
 .form {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    justify-items: center;
 }
 .label {
    max-width: 400px;
    width: 100%;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    color: #FEFFFF;
 }
 .input-area {
    min-height: 37px;
    border: 1;
    border-color: #008676;
    background-color: #03d5bd;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.1em;
    cursor: text;
 }
 .signup-now-btn {
    padding: 16px;
    max-width: 150px;
    min-height: 10px;
    width: 100%;
    background-color: #03d5bd;
    border: none;
    border-radius: 6px;
    color: #008676;  
    box-shadow: inset 0 1px 3px #000000;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .signup-now-btn:hover {
    background-color: #018071;
    color: #03d5bd;
 }
 .signup-now-btn:disabled {
    cursor: not-allowed;
 }*/
 

